body {
  min-height: 100%;
}
.container-body {
  background-color: #ececec;
}

/* Navbar */
.navbar {
  background-color: #d72e2e;
}

.navbar-brand:hover {
  color: #d1c2c0;
}

.navbar-brand {
  color: #f5f5f5;
  font-weight: bold;
  font-size: xx-large;
}

.brand {
  align-items: center;
}

.logo-brand {
  margin: 5px 10px 0 0;
}

.search-button {
  border: none;
}

.nav {
  padding: 10px;
  margin-top: 10px;
}

.nav-item a {
  outline: 1px solid #f5f5f5;
  border-radius: 20px;
  background-color: #d72e2e;
  color: #f5f5f5;
  font-weight: 500;
}

.nav-item a:hover {
  background-color: #b71515;
  color: #f5f5f5;
}

.dropdown {
  background-color: none;
}

.user-img {
  background-color: #f5f5f5;
  border-radius: 50%;
}

/* End Navbar */

/* Carousel */
.carousel-img {
  object-fit: cover;
  height: 400px;
  opacity: 0.9;
}

.carousel-text {
  top: 0;
  margin-top: 20px;
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel-text p {
  margin-top: 65px;
}

.carousel-text h3 {
  font-style: italic;
}

/* Carousel */

/* Card */
#card-containerr {
  min-height: 65.5vh;
}

.card {
  transition: 0.5s;
  border-radius: 5px;
  background-color: #ececec;
}

.card-title {
  font-size: 16px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

/* Card */

/* Footer */
footer {
  padding: 1px;
  background-color: #d72e2e;
  text-align: center;
  margin-top: 20px;
}

footer > p {
  padding-top: 20px;
  color: #ececec;
}

/* Footer */

@media (0px <= width <= 991px) {
  #navbar {
    display: flex !important;
    justify-content: center !important;
  }
  .form-search {
    width: 100% !important;
  }
}
@media (width > 991px) {
  #navbar {
    display: flex !important;
    width: 100% !important;
    justify-content: space-between !important;
  }
  .form-search {
    float: right !important;
    width: 85% !important;
  }
  .search-form {
    width: 70%;
  }
}
